@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --backColor: #222635;
   --frontColor: #313546;
}

body,
html {
   height: 100vh;
   font-family: "Mukta", sans-serif;
}

.container {
   text-align: center;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 1fr 8fr;
   overflow: hidden;
}

.container div {
   padding: 10px;
   font-size: 32px;
   font-weight: bold;
   color: white;
}

.header {
   background-color: #313546;
   grid-column: 2 / -1;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   align-items: center;
}

.header h3 {
   justify-self: start;
}

#profile-buttons {
   justify-self: end;
   display: flex;
   align-items: center;
   gap: 1rem;
}

#profile {
   height: 42px;
   fill: var(--backColor);
}

#notifications {
   height: 32px;
   fill: var(--backColor);
}

#profile-img {
   height: 42px;
}

.sidebar {
   background-color: #313546;
   grid-row: 1 / 4;
   height: 100vh;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr;
}

.nav {
   display: grid;
   grid-template-rows: repeat(5, 1fr);
}
.nav li {
   display: flex;
   align-items: center;
   justify-self: stretch;
   font-size: 1.5rem;
   font-weight: 400;
   gap: 20px;
}

.nav li:hover {
   background-color: #5d6480;
   cursor: pointer;
}
.nav a {
   text-decoration: none;
   color: inherit;
}

.nav svg {
   fill: var(--backColor);
   height: 30px;
}

#settings li {
   grid-row: 5 / 6;
}

.content {
   background-color: var(--backColor);
   display: grid;
   grid-template-columns: 3fr minmax(300px, 1fr);
   gap: 15px;
   overflow-y: auto;
}

.projects {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 15px;
}

.projects p {
   font-size: 18px;

   color: white;
   text-align: left;
}

.projects .card {
   background-color: #313546;
   color: rgb(255, 255, 255);
   text-align: center;
   display: grid;
   grid-template-columns: 1fr auto auto;
   border-radius: 0.5rem;
}

.card p {
   color: rgb(255, 255, 255);
   font-weight: normal;
   font-size: 14px;
   padding: 5px;
}

.card .title {
   font-size: 18px;
   text-align: center;
}

.card-img {
   width: 100%;
   grid-column: 1 /-1;
   border-radius: 0.5rem;
}

.card svg {
   fill: var(--backColor);
   height: 42px;
}

.side-content {
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: 1fr 1fr;
   gap: 5px;
}

.side-content .card {
   background-color: #313546;
}

#search {
   width: 60%;
   outline: none;
   color: #ffffff;
   font-size: 1rem;
   background-color: #222635;
   border: none;
   padding: 10px;
   border-radius: 6px;
   transition: 500ms;
}

#search:focus {
   width: 100%;
}
