@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --iconHover: #cbd5e1;
   --iconsColor: #64748b;
   --backColor: #111827;
   --frontColor: #1e293b;
   --text: #e2e8f0;
}

body,
html {
   height: 100vh;
   font-family: "Poppins", sans-serif;
}

.container {
   text-align: center;
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 7fr 2fr;
   grid-template-rows: 1fr 9fr;
   overflow: hidden;
}

.container div {
   font-size: 32px;
   font-weight: bold;
   color: var(--text);
}

.logo {
   padding-top: 2.2rem;
}

.header {
   background-color: var(--frontColor);
   grid-column: 2 / -1;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   align-items: center;
   padding: 0 15px;
}

.header h3 {
   justify-self: start;
}

#profile-buttons {
   justify-self: end;
   display: flex;
   align-items: center;
   gap: 2rem;
}

#profile-buttons svg {
   height: 36px;
   fill: var(--iconsColor);
   cursor: pointer;
   transition: 500ms;
}

#profile:hover {
   fill: var(--iconHover);
}

#notifications:hover {
   fill: var(--iconHover);
}

#add-button:hover {
   fill: green;
}

.sidebar {
   background-color: var(--frontColor);
   grid-row: 1 / 4;
   height: 100vh;
   display: grid;
   grid-template-rows: 1fr 2fr 2fr;
}

.nav {
   display: grid;
   grid-template-rows: repeat(6, 1fr);
}
.nav li {
   display: flex;
   align-items: center;
   justify-self: stretch;
   font-size: 1.2rem;
   font-weight: 400;
   gap: 20px;
   padding-left: 5%;
   transition: 300ms;
}

.nav li:hover {
   background-color: var(--iconsColor);
   cursor: pointer;
   color: var(--frontColor);
}

.nav li:hover :first-child {
   fill: var(--frontColor);
}
.nav a {
   text-decoration: none;
   color: inherit;
}

.nav svg {
   fill: var(--iconsColor);
   height: 25px;
}

#settings li {
   grid-row: 4 / 5;
}

.content {
   overflow-y: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.content::-webkit-scrollbar {
   display: none;
}

.projects {
   padding: 15px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   gap: 15px;
   overflow-y: auto;
   background-color: var(--backColor);
}

.projects .card {
   padding: 15px;
   background-color: var(--frontColor);
   display: grid;
   grid-template-rows: auto;
   border-radius: 0.5rem;
   transition: 0.3s;
   align-items: center;
}

.projects .card:hover {
   transform: translate(0, -5px);
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.projects .card:hover :first-child {
   opacity: 1;
   transition: 0.3s;
}

.card p {
   font-weight: normal;
   font-size: 14px;
   padding: 5px;
}

.card .title {
   grid-column: 1 /-1;
   font-size: 1.5rem;
   text-align: center;
}

.card-img {
   width: 100%;
   grid-row: 1 / 2;
   border-radius: 0.5rem;
   opacity: 0.6;
}

.card svg {
   fill: var(--iconsColor);
   height: 42px;
}

.card svg:hover {
   fill: var(--iconHover);
   transition: 300ms;
   cursor: pointer;
}

.side-content {
   grid-column: 3/4;
   grid-row: 2/4;
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: 1fr 1fr;
   gap: 15px;
   background-color: var(--backColor);
}

.side-content h3 {
   font-size: 1.3rem;
   text-align: start;
   padding: 0.5rem;
   font-weight: 500;
}

.stats {
   border-radius: 1rem;
   background-color: var(--frontColor);
   color: var(--text);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.stats p {
   font-weight: normal;
   font-size: 1.2rem;
   padding: 5px;
}

.stats .title {
   font-size: 2rem;
   text-align: center;
}

#search {
   width: 60%;
   outline: none;
   color: var(--text);
   font-size: 1.1rem;
   background-color: var(--backColor);
   border: none;
   padding: 10px;
   border-radius: 6px;
   transition: 700ms;
}

#search:focus {
   width: 80%;
}
